//Colors
$primary-color:#272727;
$secondary-color:#640808;
$hover-color:orangered;
$text-color:#fff;

//Fonts
$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//Path
$pathname1:"../Joker.jpg/Joker1.jpg";
$pathname2:"../Joker.jpg/joker2.jpg";
$pathname3:"../Joker.jpg/joker3.jpg";
$pathname4:"../Joker.jpg/joker4.jpg";
$pathname5:"../Joker.jpg/joker5.jpg";
$pathname6:"../Joker.jpg/joker6.jpg";
$pathname7:"../Joker.jpg/joker7.jpg";